<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!-- head section -->
  <%- include ('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

    <main class="container c-container mt-5">
      <div class="jumbotron text-center">
        <p class="m-0 text-secondary-emphasis">Hey there! I'm</p>
        <h1 class="display-4">Shubham Patel</h1>
        <p class="lead mt-4 text-body">
          Experienced Back-end developer on a mission to create web experiences
          that amaze and engage. With a blend of HTML, CSS, JavaScript, ReactJS,
          and SpringBoot . I craft performant websites and captivating user
          interfaces that leave a lasting impact on users.
        </p>
        <a class="btn btn-outline-light mt-4" href="/about" role="button"
          >View Profile</a
        >
      </div>
    </main>

    <!--footer section-->
    <%- include ('partials/footer.ejs') %>

    <!--script section-->
    <%- include ('partials/scripts.ejs') %>
  </body>
</html>
