<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!-- head section -->
  <%- include ('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

    <main class="container c-container mt-5 mb-5 pb-5">
      <h1 class="display-4 text-center">My Projects</h1>
      <section class="row mt-5 justify-content-center mx-0">
        <div class="card pt-4 col-lg-3">
          <img
            src="/favicons/f3.png"
            class="card-img-top"
            alt="Lab Report"
            width="100%"
            height="144"
          />
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title">Basic-Food-Order-App</h5>
            <p class="card-text mb-3">
              A simple food ordering app built with Spring Boot. It includes
              user authentication with Spring Security and OAuth2 login via
              Google. Users can browse products, manage their cart, and place
              orders. The frontend is powered by Thymeleaf and Bootstrap for a
              responsive design.
            </p>
            <a
              href="https://github.com/ShubhamPatel81/Basic-Food-Order-App-Spring-Boot"
              class="btn btn-outline-secondary mt-auto"
              target="_blank"
              >Visit Project</a
            >
          </div>
        </div>
        <div class="card pt-4 col-lg-3 mt-4 mt-lg-0 ms-lg-5">
          <img
            type="image/png"
            src="/favicons/f5.jpeg"
            class="card-img-top object-fit-contain"
            alt="Web Resume (v0.2)"
            width="100%"
            height="144"
          />
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title">Calculator</h5>
            <p class="card-text mb-3">
              Developed a responsive calculator application using React that
              performs basic arithmetic operations such as addition,
              subtraction, multiplication, and division. The application
              features a user-friendly interface and provides real-time
              calculation results.
            </p>
            <a
              href="https://github.com/ShubhamPatel81/calculator_react"
              class="btn btn-outline-secondary mt-3 mt-auto"
              target="_blank"
              >Visit Project</a
            >
          </div>
        </div>
        <div class="card pt-4 col-lg-3 mt-4 mt-lg-0 ms-lg-5">
          <img
            src="/favicons/f4.png"
            class="card-img-top object-fit-contain"
            alt="Text-Parser-Chrome-Ext"
            width="100%"
            height="144"
          />
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title">Basic_Weather_App_SpringBoot</h5>
            <p class="card-text mb-3">
              This is a basic Weather App built with Spring Boot that fetches
              weather data using an external API. Displays current weather
              conditions for the specified location.
            </p>
            <a
              href="https://github.com/ShubhamPatel81/Basic_Weather_App_SpringBoot"
              class="btn btn-outline-secondary mt-3"
              target="_blank"
              >Visit Project</a
            >
          </div>
        </div>
      </section>
    </main>
    <!--footer section-->
    <%- include ('partials/footer.ejs') %>
    <!--script section-->
    <%- include ('partials/scripts.ejs') %>
  </body>
</html>
